.DrawerToggle {
    width: 40px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
     
    
}
.Drtool
{
    margin: 0px 10px;
    
}

.DrawerToggle div {
    border: 2px solid black;
    width: 90%;
    height: 3px;
    background-color: black;
    border-radius: 30px;
}

@media (min-width: 800px) {
    .DrawerToggle {
        display: none;
    }
}